# Rust or Cargo
/target
**/*.rs.bk
rustfmt.toml

# IDE or Editor
.idea/
.vscode/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Git
.git/
.gitignore

# Other
README.MD
LICENSE
pre-commit
.travis.yml
